# NimbusFS Backend Environment Variables

# Node URLs (Internal or External)
NODE1_URL=http://node1:8001
NODE2_URL=http://node2:8002
NODE3_URL=http://node3:8003

# Security
SECRET_KEY=nimbusfs_ultra_secret_key_change_in_production

# Node Specific (for storage nodes)
NODE_NAME=node1
PORT=8001
